.main{
    margin : 0;
    margin-top : -30px;
    padding-top : 70px;
    width: 100%;
    background: #F8F8F8;
}

.main > h1{
    color: #211F1E;
    font-size: 40px;
    font-family: AvertaStd-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap : 20px;
}

.select{
    color: #211F1E;
    font-size: 24px;
    font-family: AvertaStd-Semibold;
    font-style: normal;
    font-weight: 400;
    line-height: 35.5px;
    text-transform: capitalize;
    border : 0;
    background-color: transparent;
    cursor: pointer;
}

.selected{
    border-bottom: 4px solid #819D44;
}

.link{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.see{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-family: AvertaStd-Semibold;
    font-style: normal;
    font-weight: 400;
    line-height: 35.5px;
    text-align: center;
    border-radius: 35px;
    background: #819D44;
    display: flex;
    width: 318px;
    height: 64px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width:840px) {
    .main h1{
        font-size: 20px; 
    }
    .select{
        font-size: 15px;
    }
    .see{
        height: 40px;
        width: 218px;
        font-size: 11px;
    }
}