.nav{
    display: flex;
    width: 100%; 
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 24px;
    width: 290px;
}

.navlink{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: AvertaStd-Regular;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.esmdExport{
    margin : 40px;
}

.esmdExport h1{
    height: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #4E0515;
    font-size: 31px;
    font-family: AvertaStd-Bold;
    line-height: 30px;
    letter-spacing: 2.48px;
}

.esmdExport h1:nth-child(2){
    margin-left: 18px;
    font-family: AvertaStd-LightItalic;
}

.main{
    max-width: 1440px;
    margin:auto;
    padding: 0;
}

@media screen and (max-width : 800px) {
    .navButton{
        display: none;
    }

    .esmdExport h1{
        display: inline;
    }

    .esmdExport h1:nth-child(2){
        margin-left: 2px;
    }
}