.main{
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #F9F3EC;
    display: flex;
    margin :0;
    max-height: 864px;
}

.left{
    padding-left : 50px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 30px;
}

.left h1{
    font-size : 54px;
    max-width: 429px;
    margin : 0;
    line-height: 71.5px;
    font-family: AvertaStd-Bold;
}

.left h3{
    font-size: 24px;
    line-height: 35.5px;
    text-transform: capitalize;
    font-family: AvertaStd-Semibold;
    margin : 0;
}

.left p{
    margin : 0;
    font-size: 18px;
    line-height: 35.5px;
    font-family: AvertaStd-Regular;
}

.left button{
    max-width: 326px;
    height: 64px;
    border-radius: 35px;
    background: #819D44;
    border : 0;
    color : #fff;
    line-height: 35.5px;
    font-size: 16px;
    font-family: AvertaStd-Semibold;
}

.right{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 720px;
    aspect-ratio: 720 / 924;
}
.bot{
    object-fit: contain;
    max-width: 720px;
    aspect-ratio: 924 / 720;
}

@media screen and (max-width:840px) {
    .left{
        padding:20px;
        gap : 20px;
    }

    .left h1 {
        font-size : 25px;
        line-height: 30px;
    }

    .left h3{
        font-size: 15px;
        line-height: 15px;
    }

    .left p{
        font-size: 12px;
        line-height: 12px;
    }

    .left button{
        font-size:12px;
        height: 40px;
    }
}

@media screen and (max-width:660px) {
    .left{
        gap : 10px;
    }

    .left h1 {
        font-size : 23px;
        line-height: 30px;
    }

    .left h3{
        font-size: 13px;
        line-height: 15px;
    }

    .left p{
        font-size: 10px;
        line-height: 12px;
    }

    .left button{
        font-size:10px;
        height: 40px;
    }
}